# Data Preprocessing and Cleaning For Restaurant Recommendation System

## by:
### 22BCE3950 PRADEK RAJA V 
### 22BCE2115 GUNUPATI PAVAN KUMAR REDDY

___1.Importing required modules___

In [114]:
import numpy as np # linear algebra
import pandas as pd # data processing

## Read the File

In [117]:
file_path = r"C:\Users\PRADEK RAJA\Data\zomato.csv"
df = pd.read_csv(file_path)

In [118]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

## Let's see what are the columns and how are they named

In [120]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

## Finding the count of null and non-null values

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

## Deleting Unnecessary Values

In [124]:
df=df.drop(['url','dish_liked','phone'],axis=1) #Dropping the column "dish_liked", "phone", "url" as not needed for recommendation

In [130]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Handling Duplicate Rows in the DataFrame

Sometimes a dataset contains duplicate rows which can affect analysis. The following code helps identify and remove duplicates:

- `df.duplicated().sum()` → Returns the total number of duplicate rows in the DataFrame.
- `df.drop_duplicates(inplace=True)` → Removes all duplicate rows from the DataFrame. The `inplace=True` parameter ensures the changes are applied directly to the original DataFrame.

In [134]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [135]:
df.head(5)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Extracting Numeric Ratings from Strings

Sometimes the ratings in a dataset are stored as strings, e.g., "4.5 out of 5" or "3 stars". To convert them into numeric values for analysis:

1. `df['rate'] = df['rate'].str.extract(r'(\d+.\d+|\d+)', expand=True)`  
   - Uses a regular expression to extract the numeric part of the rating from the string.  
   - `\d+.\d+` matches decimal numbers like `4.5`, and `\d+` matches integers like `4`.

2. `df['rate'] = pd.to_numeric(df['rate'], errors='coerce')`  
   - Converts the extracted strings into numeric values (`int` or `float`).  
   - `errors='coerce'` replaces any non-numeric values with `NaN`.

In [137]:
df['rate']=df['rate'].str.extract(r'(\d+.\d+|\d+)',expand=True)
df['rate']=pd.to_numeric(df['rate'],errors='coerce')

In [141]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Cleaning and Filling Missing Restaurant Types

This section handles the `rest_type` column in the dataset:

- First, it corrects any typos in restaurant types (e.g., changing 'Cafee' to 'Cafe').
- Then, it fills missing values (`NaN`) in `rest_type` based on keywords found in the `listed_in(type)` column:
  - If the type contains 'Delivery', the restaurant type is set as 'Quick Bites'.
  - If it contains 'Dine-out', it is set as 'Casual Dining'.
  - If it contains 'Cafes', it is set as 'Cafe', and so on for other categories like 'Desserts', 'Drinks', 'Buffet', and 'Pubs and bars'.
- `isna()` checks for missing values, and `str.contains(..., na=False)` searches for specific keywords while ignoring missing entries.

In [144]:
df['rest_type']=df['rest_type'].str.replace('Cafee','Cafe')

In [146]:
df.loc[df['rest_type'].isna() & df['listed_in(type)'].str.contains('Delivery', na=False), 'rest_type'] = 'Quick Bites'
df.loc[df['rest_type'].isna() & df['listed_in(type)'].str.contains('Dine-out', na=False), 'rest_type'] = 'Casual Dining'
df.loc[df['rest_type'].isna() & df['listed_in(type)'].str.contains('Cafes', na=False), 'rest_type'] = 'Cafe'
df.loc[df['rest_type'].isna() & df['listed_in(type)'].str.contains('Desserts', na=False), 'rest_type'] = 'Dessert Parlor'
df.loc[df['rest_type'].isna() & df['listed_in(type)'].str.contains('Drinks', na=False), 'rest_type'] = 'Pub,Bar'
df.loc[df['rest_type'].isna() & df['listed_in(type)'].str.contains('Buffet', na=False), 'rest_type'] = 'Buffet'
df.loc[df['rest_type'].isna() & df['listed_in(type)'].str.contains('Pubs and bars', na=False), 'rest_type'] = 'Pub,Bar'

In [148]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Cleaning and Filling Missing Approximate Cost

This code handles the `approx_cost(for two people)` column in the dataset:

- First, it removes commas from the cost values to make them numeric-friendly.
- Then, it converts the column from string to numeric using `pd.to_numeric()`. Any non-numeric entries are converted to `NaN` with `errors='coerce'`.
- After that, it fills missing values (`NaN`) with the **median cost** calculated within specific groups:
  - First by `listed_in(city)` and `rest_type` to account for different cuisines in each city.
  - Then by `listed_in(city)` and `listed_in(type)` to further refine the imputation based on the restaurant type category.
- Using `groupby().transform(lambda x: x.fillna(x.median()))` ensures that each missing value is replaced with the median of its group.

In [151]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].str.replace(',','')
df['approx_cost(for two people)']=pd.to_numeric(df['approx_cost(for two people)'],errors='coerce')

In [153]:
df['approx_cost(for two people)'] = df.groupby(['listed_in(city)', 'rest_type'])['approx_cost(for two people)'].transform(lambda x: x.fillna(x.median()))
df['approx_cost(for two people)'] = df.groupby(['listed_in(city)', 'listed_in(type)'])['approx_cost(for two people)'].transform(lambda x: x.fillna(x.median()))

In [155]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Filling Missing Cuisines

This code handles missing values in the `cuisines` column:

- It fills missing entries (`NaN`) using the **most common cuisine** (mode) within specific groups:
  - First grouped by `listed_in(city)` and `rest_type` to capture popular cuisines for each type of restaurant in a city.
  - Then grouped by `listed_in(city)` and `listed_in(type)` to further refine based on the restaurant category.
- `x.mode()[0] if not x.mode().empty else np.nan` ensures that the mode is used if it exists; otherwise, the missing value remains `NaN`.
- Using `groupby().transform()` applies this imputation for each row within its group.

In [158]:
df['cuisines'] = df['cuisines'].fillna(df.groupby(['listed_in(city)', 'rest_type'])['cuisines'].transform(lambda x: x.mode()[0] if not x.mode().empty else np.nan)) 
df['cuisines'] = df['cuisines'].fillna(df.groupby(['listed_in(city)', 'listed_in(type)'])['cuisines'].transform(lambda x: x.mode()[0] if not x.mode().empty else np.nan))

In [159]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Filling Missing Ratings

This code handles missing values in the `rate` column:

- First, missing ratings (`NaN`) are filled with the **median rating** of restaurants grouped by `listed_in(city)`, `cuisines`, and `rest_type`.  
  - This ensures that the imputed value reflects similar restaurants within the same city and cuisine type.

- Next, any remaining missing ratings are filled with the **median rating** of all restaurants in the same city.  
  - This serves as a fallback when the more specific group does not provide a value.

- Using `groupby().transform(lambda x: x.fillna(x.median()))` ensures that each missing rating is replaced appropriately within its group.

In [163]:
df['rate'] = df.groupby(['listed_in(city)', 'cuisines','rest_type'])['rate'].transform(lambda x: x.fillna(x.median()))
df['rate'] = df.groupby(['listed_in(city)'])['rate'].transform(lambda x: x.fillna(x.median()))

In [164]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

## Final Touchup

In [167]:
df.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'approx_cost(for two people)',
       'reviews_list', 'menu_item', 'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [169]:
df.rename(columns={
    'name': 'restaurant_name',
    'rate': 'rating',
    'rest_type': 'restaurant_type',
    'approx_cost(for two people)': 'cost_for_two',
    'reviews_list': 'reviews',
    'menu_item': 'menu_items',
    'listed_in(type)': 'type_category',
    'listed_in(city)': 'city'
}, inplace=True)

In [171]:
df.columns

Index(['address', 'restaurant_name', 'online_order', 'book_table', 'rating',
       'votes', 'location', 'restaurant_type', 'cuisines', 'cost_for_two',
       'reviews', 'menu_items', 'type_category', 'city'],
      dtype='object')